:root {
  --primary-color:rgba(255, 0, 0, 0.5);
  --secondary-color:rgba(0, 255, 0, 0.5);
  --detail-color:rgba(255, 255, 255, 0.5);
  --trim-color:rgba(0, 0, 255, 0.5);

  --primary-dim-background: rgba(80, 80, 80, 0.527);
}

@font-face {
  src: url("../media/fonts/Exan-Regular.ttf");
  font-family: Exan;

  src: url("../media/fonts/orbitron-medium-webfont.ttf");
  font-family: Orbitron;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Orbitron;
  color: yellow;
  margin: 0px;
}

.background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.wrapper {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  grid-template-rows: [header-row] 1fr [NOFILL-1] 50px [content-row] 6fr [footer-row] 1fr;
  grid-template-columns: [menu-column] 1fr [NOFILL-2] 50px [content-column] 6fr [NOFILL-3] 70px;
}

.header-quote::before{
  content:"“";
}

.header-quote::after{
  content:"”";
}

.header-wrapper {
  padding-left: 1em;
  width: 100%;
  height: 100%;
  grid-column: content-column;
  grid-row: header-row;
}

.nav-bar {
  z-index: 2;
  grid-column: menu-column;
  grid-row: header-row / -1;
  width: 100%;
  height: 100%;
}

.nav-bar-panel {
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: space-between;
  width: 100%;
  height: 100%;
  grid-column: menu-column;
  grid-row: content-row/footer-row;
}

.nav-button {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.nav-button[data-show="home"] {
  background: rgba(255, 0, 0, 0.2);
}

.nav-button[data-show="about"] {
  background: rgba(255, 102, 0, 0.2);
}

.nav-button[data-show="service"] {
  background: rgba(255, 251, 0, 0.2);
}

.nav-button[data-show="partners"] {
  background: rgba(166, 255, 0, 0.2);
}

.nav-button[data-show="join"] {
  background: rgba(0, 255, 170, 0.2);
}

.nav-button[data-show="home"]:hover {
  background: rgba(255, 0, 0, 0.4);
}

.nav-button[data-show="about"]:hover {
  background: rgba(255, 102, 0, 0.4);
}

.nav-button[data-show="service"]:hover {
  background: rgba(255, 251, 0, 0.4);
}

.nav-button[data-show="partners"]:hover {
  background: rgba(166, 255, 0, 0.4);
}

.nav-button[data-show="join"]:hover {
  background: rgba(0, 255, 170, 0.4);
}

.nav-button[data-show="home"][data-active="true"] {
  background: rgba(255, 0, 0, 0.4);
}

.nav-button[data-show="about"][data-active="true"] {
  background: rgba(255, 102, 0, 0.4);
}

.nav-button[data-show="service"][data-active="true"] {
  background: rgba(255, 251, 0, 0.4);
}

.nav-button[data-show="partners"][data-active="true"] {
  background: rgba(166, 255, 0, 0.4);
}

.nav-button[data-show="join"][data-active="true"] {
  background: rgba(0, 255, 170, 0.4);
}

.nav-logo-div {
  width: 100%;
  height: 100%;
  grid-column: menu-column;
  grid-row: header-row;
  object-fit: contain
}

.nav-logo {
  width: 100%;
  height: 100%;
  transform: scale(1.7);
  grid-column: menu-column;
  grid-row: header-row;
  object-fit: contain
}

.content-wrapper {
  z-index: 5;
  height: 100%;
  width: 100%;
  border: 0px;
  border-radius: 0 25px 25px 0;
  grid-column: NOFILL-2/NOFILL-3;
  grid-row: content-row/footer-row;
}

.content-page {
  color: white;
  font-size: 1.2em;
  display: none;
  grid-template-rows: [title] 1fr [content-row] 5fr;
  position: relative;
  z-index: 6;
  height: 100%;
  width: 100%;
  padding-left: 1em;
  border-left: none;
  border-radius: 0 25px 25px 0;
}
.content-page[data-show="home"] {
  background: rgba(255, 0, 0, 0.4);
}

.content-page[data-show="about"] {
  background: rgba(255, 102, 0, 0.4);
}

.content-page[data-show="service"] {
  background: rgba(255, 251, 0, 0.4);
}

.content-page[data-show="partners"] {
  background: rgba(166, 255, 0, 0.4);
}

.content-page[data-show="join"] {
  background: rgba(0, 255, 170, 0.4);
}

.content-page[data-active="true"] {
  display: grid;
}

.cos {
  background-color: var(--primary-dim-background);
  height: 100%;
  width: 100%;
  border: 0px;
}

.cos-1 {
  border-radius: 0 0 100% 0;
  grid-column: NOFILL-2;
  grid-row: header-row;
}

.cos-2 {
  grid-column: menu-column;
  grid-row: header-row / content-row;
}

.cos-3 {
  grid-column: menu-column;
  grid-row: footer-row;
}

.credits {
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 100%;
  height: 100%;
  font-size: 0.6em;
  word-wrap: break-word;
  grid-column: menu-column;
  grid-row: footer-row;
  justify-content: center;
  align-items: center;
}